.footer {
    background-color: #1d2127;
    color: #4e5561;
    padding: 1rem;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-link {
    display: inline-block;
    margin: 0 0.5rem;
    color: #4e5561;
}

.social-link:hover {
    color: #fff;
}

.fab {
    font-size: 1.5rem;
}
