<div class="adminFooter" th:fragment="adminFooter">

  <footer class="footer">
    <div class="social-links" style="color: white">
      <a href="https://www.facebook.com" class="social-link" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://github.com/Rakxit121/readNovel-website" class="social-link" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://instagram.com" class="social-link" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </footer>

</div>