<!-- <div th:fragment="footer" class="row">
    <footer>
        <div class="information">
           <img th:src="@{~/images/ServicesImages/logo.png}" alt="">
            <h3>ReadNovel</h3>
            <p> <a href="">readnovel@gmail.com</a> </p>
        </div>
        <div class="quicklinks">
            <h2>Quick links</h2>
            <p> <a href="">about</a></p>
            <p> <a href="">contact</a></p>
            <p> <a href="">find us</a></p>
        </div>
        <div class="sociallinks">
            <h2>Stay Connected</h2>
            <h4><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></h4>
            <h4> <a href="https://www.facebook.com/"><i class="fab fa-twitter"></i></a> </h4>
            <h4> <a href="https://www.facebook.com/"><i class="fab fa-instagram"></i></a></h4>
            <h4> <a href="https://www.facebook.com/"><i class="fab fa-youtube"></i></a></h4>
        </div>
        <div class="emailcontact">
            <h3>Email us Your Queries</h3>
            <div class="email">
                <input type="email" name="" id="" placeholder="  Enter your email">
                <input type="submit" name="" id="">
                <button><a href="">Send</a></button>
            </div>
        </div>
    </footer>
</div> -->


<div class="footer" th:fragment="footer">
    <hr>
    <div class="footer-content">
      <div class="left-section">
<!--        <a th:href="@{/home}" th:text="#{home}">Home</a>-->
<!--        <a th:href="@{/contactus}" th:text="#{contactus}">Contact Us</a>-->
      </div>
      <div class="center-section">
        <img th:src="@{~/images/logo.png}" class="logo" alt="Logo">
      </div>
      <div class="right-section">
        <a th:href="@{https://discord.com/}" target="_blank">
          <i class="fab fa-discord"></i>
        </a>
        <a th:href="@{https://facebook.com/}" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a th:href="@{https://github.com}" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
  