<div class="header" th:fragment="header">
    <div class="top-header">
      <img th:src="@{/img/logo.png}" class="logo" alt="Logo">
      <form class="search-form">
        <input type="text" placeholder="Search...">
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <div class="profile-pic-container">
        <img th:src="@{/img/profile-pic.png}" class="profile-pic" alt="Profile Picture">
        <div class="dropdown-content">
<!--          <a th:href="@{/logout}" th:text="#{logout}">Logout</a>-->
<!--          <a th:href="@{/settings}" th:text="#{settings}">Settings</a>-->
        </div>
      </div>
    </div>
    <div class="bottom-header">
<!--      <a th:href="@{/home}" th:text="#{home}">Home</a>-->
<!--      <a th:href="@{/library}" th:text="#{library}">Library</a>-->
<!--      <a th:href="@{/profile}" th:text="#{profile}">Profile</a>-->
<!--      <a th:href="@{/aboutus}" th:text="#{aboutus}">About Us</a>-->
    </div>
  </div>
  