footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section, .center-section, .right-section {
    width: 33%;
    text-decoration: none;
  }
  
  .logo {
    width: 100px;
    height: 40px;
  }
  
  .right-section a {
    color: #fff;
    font-size: 24px;
    margin-left: 8px;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    .logo {
      width: 90px;
      height: 40px;
    }
  
    .footer-content {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .left-section, .center-section, .right-section {
      width: 100%;
      text-align: center;
      margin-bottom: 8px;
    }
  
    .right-section a {
      font-size: 20px;
      margin: 0;
    }
  }
    