/* https://coolors.co/2c3e50-e74c3c-ffffff-3498db-95a3b3 */

/* ========================
Utilities
======================== */

* {
    box-sizing: border-box;
}
.cf{
    display: flex;

}

.cf::before,
.cf::after {
    content: "";
    display: table;
}

.cf::after {
    clear: both;
}

html {
    position: relative;
}

img {
    max-width: 100%;
}

/* ========================
Global
======================== */

body {
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

/*h1, h2, h3, h4, h5, h6, ul, ol, p {*/
/*    margin-top: 0;*/
/*}*/

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
}

a, a:hover, a:focus, a:active, a:visited {
    color: #E74C3C;
    text-decoration: underline;
}
.nav-right{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
.nav-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button
{
    border-radius: 4px;
    border: solid #6d00dc 2px;
    padding: 13px;
    margin: 10px;
}
.button:hover{
    background-color: #6d00dc;
    color: white;
}



/* ========================
Containers
======================== */

.container-fluid {
    padding: 0 1em;
}

.container {
    margin: 0 auto;
    max-width: 996px;
}


/* ========================
Navigation
======================== */

@keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.45);
    position: relative;
    top: 0;
}

nav a, nav a:hover, nav a:focus,  nav a:active, nav a:visited {
    text-decoration: none;
}

nav .brand {
    display: inline-block;
    float: left;
    font-size: 1.25em;
    font-weight: 900;
}

nav .brand a {
    color: #444;
    display: block;
    padding: 1em 0;
}

nav .nav-toggle {
    color: #444;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.25em;
    padding: 1em 0;
    z-index: 1000
}

nav ul {
    border-top: 1px solid #ccc;
    clear: both;
    list-style: none;
    margin: 0 -1em;
    padding: 0;
    z-index: 999;
}

nav ul li {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

nav ul li a {
    color: #444;
    display: block;
    padding: .75em;
}

nav.sticky {
    animation: show-header .5s ease;
    position: fixed;
    top: 0;
    width: 100%;
}

/* ========================
Sections
======================== */

.splash {
    background: linear-gradient( rgba(52, 152, 219, 0.65), #6d00dc),
    url("../images/BG.jpg") no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

.splash .container {
    padding-top: 25vh; /* No JS fallback*/
    padding-bottom: 25vh; /* No JS fallback*/
}

.profile-image {
    border-radius: 50%;
    display: block;
    max-width: 200px;
    margin: 0 auto 1em;
    width: 100%;
}

.splash h1 {
    font-size: 3em;
    margin-bottom: .15em;
    text-align: center;
}

.splash .lead, .splash .continue {
    display: block;
    text-align: center;
}

.splash .lead {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
}

.splash .continue {
    font-size: 4em;
}

.splash .continue a {
    border: 4px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 80px;
}
.splash .continue a:hover {
    background-color: rgba(255, 255, 255, .25);
}

.intro .container, .features .container, .portfolio .container, .contact .container {
    padding: 5em 0;
}

.intro, .features, .portfolio, .contact {
    text-align: center;
}

.intro {
    background-image: linear-gradient(to right,#c03cff, #6d00dc);
    color: #fff;
}

.intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
    color: #fff;
}

.features img {
    display: block;
    margin: 0 auto 1em;
    max-width: 200px;
}

.features .col-3 {
    margin: 3em auto;
    width: 100%;
}

.portfolio {
    background-color: #3498DB;
    color: #fff;
}

.gallery .gallery-image {
    margin: 1em auto;
    width: 100%;
}

.gallery .gallery-image img {
    background-color: #23648F;
    border-radius: 4px;
    display: block;
    height: auto;
    padding: 6px;
    width: 100%;
}

.contact form {
    background-color: #f0f0f0;
    border-radius: 4px;
    border-top: 8px solid #E74C3C;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    padding: 1em;
}

.contact form input, .contact form textarea {
    border: none;
    border-radius: 4px;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
}

.contact form textarea {
    height: 6em;
}

.contact form input[type="submit"] {
    background-color: #E74C3C;
    border-radius: 0;
    color: #fff;
    padding: 1em;
    text-transform: uppercase;
}

/* ========================
Footer
======================== */

.footer {
    background-color: #2C3E50;
    color:  #fff;
    font-size: 1.5em;
    text-align: center;
}

.footer .container {
    padding: 1em 0;
}

.footer a {
    color: #fff;
    margin-right: 1em;
}

.footer a:last-of-type {
    margin-right: 0;
}

/* ========================
Media Queries
======================== */

@media (min-width: 768px) {

    nav .nav-toggle {
        display: none;
    }

    nav ul {
        border: none;
        clear: none;
        display: inline-block !important;
        float: right;
        margin: 0;
        padding: 25px 0;
    }

    nav ul li {
        border: none;
        display: inline-block;
        float: left;
        margin-right: 1.5em;
    }

    nav ul li:last-of-type {
        margin-right: 0;
    }

    nav ul li a {
        padding: 0;
    }

    .splash h1 {
        font-size: 6em;
    }

    .splash .lead {
        font-size: 3em;
    }

    .features .col-3 {
        float: left;
        margin: 2em 5% 0 0;
        padding: 0 1em;
        width: 30%;
    }

    .features .col-3:last-of-type {
        margin-right: 0;
    }

    .gallery .gallery-image {
        float: left;
        margin-right: 2.5%;
        width: 31.6666666667%;
    }

    .gallery .gallery-image:nth-of-type(3n) {
        margin-right: 0;
    }

    .contact form {
        padding: 3em 2em 2em;
    }

    .contact form input[type="submit"] {
        padding: 1em 3em;
        width: auto;
    }

    .contact form input.full-half {
        float: left;
        margin-right: 2.5%;
        width: 48.75%;
    }

    .contact form input.full-half:nth-of-type(2n) {
        margin-right: 0;
    }

    .contact form textarea {
        height: 12em;
    }

}






/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #2f314e;*/
/*}*/

/*.main-page-wrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.bg-nav{*/
/*    background-image: -webkit-gradient(linear, left top, right top, from(#c03cff), to(#6d00dc));*/
/*    background: linear-gradient(90deg, #c03cff, #6d00dc);*/
/*}*/
/*!**!*/
/*!**!*/


/*!* Full-width input fields *!*/
/*input[type=text], input[type=password] {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    border: 1px solid #ccc;*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Set a style for all buttons *!*/
/*button {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*}*/

/*button:hover {*/
/*    opacity: 0.8;*/
/*}*/

/*!* Extra styles for the cancel button *!*/
/*.cancelbtn {*/
/*    width: auto;*/
/*    padding: 10px 18px;*/
/*    background-color: #f44336;*/
/*}*/

/*!* Center the image and position the close button *!*/
/*.imgcontainer {*/
/*    text-align: center;*/
/*    margin: 24px 0 12px 0;*/
/*    position: relative;*/
/*}*/

/*img.avatar {*/
/*    width: 40%;*/
/*    border-radius: 50%;*/
/*}*/

/*.container {*/
/*    padding: 16px;*/
/*}*/

/*span.psw {*/
/*    float: right;*/
/*    padding-top: 16px;*/
/*}*/

/*!* The Modal (background) *!*/
/*.modal {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*    padding-top: 60px;*/
/*}*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: 5% auto 15% auto; !* 5% from the top, 15% from the bottom and centered *!*/
/*    border: 1px solid #888;*/
/*    width: 80%; !* Could be more or less, depending on screen size *!*/
/*}*/

/*!* The Close Button (x) *!*/
/*.close {*/
/*    position: absolute;*/
/*    right: 25px;*/
/*    top: 0;*/
/*    color: #000;*/
/*    font-size: 35px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: red;*/
/*    cursor: pointer;*/
/*}*/

/*!* Add Zoom Animation *!*/
/*.animate {*/
/*    -webkit-animation: animatezoom 0.6s;*/
/*    animation: animatezoom 0.6s*/
/*}*/

/*@-webkit-keyframes animatezoom {*/
/*    from {-webkit-transform: scale(0)}*/
/*    to {-webkit-transform: scale(1)}*/
/*}*/

/*@keyframes animatezoom {*/
/*    from {transform: scale(0)}*/
/*    to {transform: scale(1)}*/
/*}*/

/*!* Change styles for span and cancel button on extra small screens *!*/
/*@media screen and (max-width: 300px) {*/
/*    span.psw {*/
/*        display: block;*/
/*        float: none;*/
/*    }*/
/*    .cancelbtn {*/
/*        width: 100%;*/
/*    }*/
/*}*/
/*.navigation{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    flex-direction: row;*/
/*}*/

/*.nav-bar {*/
/*    background-color: transparent;*/
/*}*/

/*.nav-bar-wrapper {*/
/*    !*max-width: 1200px;*!*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: stretch;*/
/*    padding: 16px;*/
/*}*/

/*.logo-icon {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*.nav-menu {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.nav-link {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    margin-right: 16px;*/
/*    font-size: 18px;*/
/*    background-color: transparent;*/
/*    padding: 8px 16px;*/
/*    border-radius: 50px;*/
/*    transition: background-color 400ms ease;*/
/*}*/
/*.w-nav-menu{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    text-decoration: none;*/
/*    color: #222222;*/
/*    padding: 20px;*/
/*    text-align: left;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*.nav-link:hover {*/
/*    background-color: hsla(0, 0%, 100%, 0.12);*/
/*    box-shadow: gray;*/
/*}*/

/*.nav-buttons {*/
/*    display: flex;*/
/*}*/

/*.button {*/
/*    border: none;*/
/*    padding: 8px 16px;*/
/*    margin-left: 8px;*/
/*    font-size: 16px;*/
/*    text-transform: uppercase;*/
/*    cursor: pointer;*/
/*}*/

/*.ghost-bg {*/
/*    background-color: transparent;*/
/*    color: #fff;*/
/*}*/

/*.white {*/
/*    background-color: #fff;*/
/*    color: #333;*/
/*}*/

/*.menu-button {*/
/*    display: none;*/
/*    cursor: pointer;*/
/*}*/

/*.menu-icon {*/
/*    width: 24px;*/
/*    height: 18px;*/
/*}*/

/*.menu-icon-line-top,*/
/*.menu-icon-line-middle,*/
/*.menu-icon-line-bottom {*/
/*    width: 24px;*/
/*    height: 2px;*/
/*    background-color: #fff;*/
/*}*/

/*@media (max-width: 992px) {*/
/*    .nav-menu {*/
/*        display: none;*/
/*    }*/

/*    .menu-button {*/
/*        display: block;*/
/*    }*/
/*}*/


/*.wrapper{*/
/*    position: relative;*/
/*    z-index: 2;*/
/*    width: 100%;*/
/*    max-width: 1220px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    padding-right: 10px;*/
/*    padding-left: 10px;*/
/*    !*-webkit-box-orient: vertical;*!*/
/*    !*-webkit-box-direction: normal;*!*/
/*    !*-webkit-flex-direction: column;*!*/
/*    !*-ms-flex-direction: column;*!*/
/*    !*flex-direction: column;*!*/
/*    !*-webkit-box-pack: center;*!*/
/*    !*-webkit-justify-content: center;*!*/
/*    !*-ms-flex-pack: center;*!*/
/*    !*justify-content: center;*!*/
/*    !*-webkit-box-align: center;*!*/
/*    !*-webkit-align-items: center;*!*/
/*    !*-ms-flex-align: center;*!*/
/*    !*align-items: center;*!*/
/*    !*background-color: transparent;*!*/
/*}*/

/*.hero-bg-gradient{*/

/*    position: absolute;*/
/*    left: 0%;*/
/*    top: 0%;*/
/*    right: 0%;*/
/*    bottom: auto;*/
/*    overflow: hidden;*/
/*    height: 96%;*/
/*    !*background-image: -webkit-gradient(linear, left top, right top, from(#c03cff), to(#6d00dc));*!*/
/*    !*background-image: linear-gradient(90deg, #c03cff, #6d00dc);*!*/
/*}*/
/*.section.hero-section {*/
/*    overflow: hidden;*/
/*    margin-top: -88px;*/
/*    padding-top: 16vw;*/
/*    padding-bottom: 17vw;*/
/*    background-color: #fff;*/
/*    color: #fff;*/
/*}*/

