<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User Comments List</title>
        <link rel="stylesheet" th:href="@{~/css/dashboard.css}">
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

        <div class="admin">
            <header class="admin__header">
                <a href="#" class="logo">
                    <img class="img-logo" th:src="@{~/images/logo.png}" alt="">
                </a>
                <div class="toolbar">

                    <a href="#" class="logout">
                        Log Out
                    </a>
                </div>
            </header>
            <nav class="admin__nav">


                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Dashboard</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Novel List</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Customer list</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Profile</a>
                    </li>
                    <!--                <li class="menu__item">-->
                    <!--                    <a class="menu__link" href="#"></a>-->
                    <!--                </li>-->
                    <li class="menu__item">
                        <a class="menu__link" href="#">Settings</a>
                    </li>
                </ul>
            </nav>

            <div class="Main-wrapper">
                <div class="wrapper-top">
                    <h2>Feedback</h2>
                </div>

                <div style="overflow-x:auto;"></div>
                <table>
                    <thead>
                    <tr>
                        <th>Booking_Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Action</th>
                        <!--            <th>Action</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cab:${feedback}">
                        <td th:text="${cab.id}"></td>
                        <td th:text="${cab.fullname}"></td>
                        <td th:text="${cab.email}"></td>
                        <td th:text="${cab.subject}"></td>
                        <td th:text="${cab.message}"></td>
<!--                        <td> <a class="contact_button" th:href="@{~/admin/deletefeed/}+${cab.id}" >delete</a></td>-->
                        <!--            <td> <a class="edit" th:href="@{~/admin/edit/}+${booking.id}" >edit</a></td>-->

                    </tr>
                    </tbody>

                </table>



            </div>
            <footer class="admin__footer">
                <ul class="ticker">
                    <li class="ticker__item"><h2>Footer list</h2></li>

                </ul>
                <span>

        </span>
            </footer>
        </div>

    </body>
</html>