<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin main Dashboard</title>
        <link rel="stylesheet" th:href="@{~/css/dashboard.css}">
    </head>
    <body>
        <div class="admin">
        <header class="admin__header">
            <a href="#" class="logo">
                <h1>GridAdmin</h1>
            </a>
            <div class="toolbar">

                <a href="#" class="logout">
                    Log Out
                </a>
            </div>
        </header>
        <nav class="admin__nav">

            <div class="add_btn">
                <button class="btn btn--primary">Add New Smth</button>
            </div>

            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Dashboard</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Novel List</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Customer list</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Profile</a>
                </li>
<!--                <li class="menu__item">-->
<!--                    <a class="menu__link" href="#"></a>-->
<!--                </li>-->
                <li class="menu__item">
                    <a class="menu__link" href="#">Settings</a>
                </li>
            </ul>
        </nav>
        <main class="admin__main">
            <h2>Dashboard</h2>
            <div class="dashboard">
                <div class="dashboard__item">
                    <div class="card">
                        <strong>Total cust</strong> Info of smth
                    </div>
                </div>
                <div class="dashboard__item">
                    <div class="card">
                        <strong> View list</strong> Same here
                    </div>
                </div>
                <div class="dashboard__item dashboard__item--full">
                    <div class="card">
                        <img src="#" alt="img or graph" />
                    </div>
                </div>
                <div class="dashboard__item dashboard__item--col">
                    <div class="card"> Item column</div>
                </div>

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Adipisci, aperiam architecto asperiores consequuntur culpa dolores eos error et eveniet
                ex facere ipsa ipsum laboriosam laborum, non nostrum sit velit voluptatem?</p>
        </main>
        <footer class="admin__footer">
            <ul class="ticker">
                <li class="ticker__item"><h2>Footer list</h2></li>

            </ul>
            <span>

    </span>
        </footer>
    </div>
    </body>
</html>