<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="stylesheet" th:href="@{~/css/landingpage.css}">
    <link rel="stylesheet" th:href="@{~/css/footer.css}">
    <link rel="stylesheet" th:href="@{~/css/header.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css}">

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>
  <body>
  <nav class="container-fluid nav">
    <div class="container cf">
      <div class="brand">
        <a href="#splash">ReadNovel</a>
      </div>
      <i class="fa fa-bars nav-toggle"></i>
      <ul>
        <li><a href="#about">About Me</a></li>
        <li><a href="#Intro" class="nav-link w-nav-link">Intro</a></li>
        <li><a href="#Features" class="nav-link w-nav-link">Features</a></li>
        <li><a href="#Testimonials" class="nav-link w-nav-link">Testimonials</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="nav-right">
       <div class="w-layout-grid nav-buttons">
           <a th:href="@{~/homepage/register}"  class="button small ghost-bg w-button">Sign up</a>
      <!--              on click open the login -->
           <a onclick="document.getElementById('id01').style.display='block'" style="width:60%;" th:href="@{~/login}"  class="button small white w-button">Login</a>

       </div>
    </div>

  </nav>

  <div class="container-fluid splash" id="splash">
    <div class="container">
      <img th:src="@{/images/logo.png}" alt="Portrait of ReadNovel" class="profile-image">
      <h1>ReadNovel</h1>
      <span class="lead">Know More</span>
      <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
    </div>
  </div>

  <div class="container-fluid features" id="features">
    <div class="container cf">
      <h2>Our Features</h2>
      <div class="col-3">
        <img src="https://s22.postimg.org/oi5es3fkx/icon_cloud.png" alt="">
        <h3>Free to Read</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
      </div>
      <div class="col-3">
        <img src="https://s22.postimg.org/jxj8d5vvl/icon_coding.png" alt="">
        <h3>Splendid Translation</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
      </div>
      <div class="col-3">
        <img src="https://s22.postimg.org/citwksa01/icon_graph.png" alt="">
        <h3>Immersive</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi maiores eum commodi soluta, blanditiis voluptates ea eos, cim! Neque.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid portfolio" id="portfolio">
    <div class="container cf">
      <h2>Some Popular Novels</h2>
      <div class="gallery">
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=250" alt=""></a></div>
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=249" alt=""></a></div>
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=248" alt=""></a></div>
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=247" alt=""></a></div>
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=239" alt=""></a></div>
        <div class="gallery-image"><a href="#"><img src="https://unsplash.it/800/450?image=238" alt=""></a></div>
      </div>
    </div>
  </div>



  <div class="container-fluid intro" id="about">
    <div class="container">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ratione impedit soluta amet quas saepe temporibus <a href="#">eum reprehenderit</a> voluptas! A nihil adipisci itaque quos quo dolorum consequuntur iusto facere quaerat, excepturi quod, necessitatibus aliquid quae est qui, aut in assumenda animi tempora debitis. Beatae, veritatis, delectus. Repellat dolore, molestias nam.</p>
    </div>
  </div>


  <div class="container-fluid contact" id="contact">
    <div class="container">
      <form>
        <h2>Contact Us</h2>
        <input type="text" placeholder="Name" id="name" name="name" class="full-half">
        <input type="email" placeholder="Email" id="email" name="email" class="full-half">
        <input type="text" placeholder="Subject" id="subject" name="subject">
        <textarea placeholder="Message" id="message" name="message"></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>

<!--  <footer class="container-fluid footer">-->
<!--    <div class="container">-->
<!--      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>-->
<!--      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>-->
<!--      <a href="#" target="_blank"><i class="fa fa-github"></i></a>-->

<!--    </div>-->
<!--  </footer>-->



  <footer th:replace="fragment/footer_frag.html :: footer"></footer>


  </body>
</html>





<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>ReadNovel Landing Page</title>-->
<!--    <link rel="stylesheet" th:href="@{~/css/landingpage.css}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--    &lt;!&ndash;    online font and icons fa for edit and fab for socialmedia for icon&ndash;&gt;-->
<!--  </head>-->

<!--  <body>-->

<!--    <div class="main-page-wrapper">-->
<!--      <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"-->
<!--      role="banner" class="nav-bar w-nav bg-nav">-->

<!--      <div class="wrapper nav-bar-wrapper">-->
<!--        <a href="#" class="brand w-nav-brand">-->
<!--          <img src="/static" alt="" class="logo-icon" />-->
<!--          &lt;!&ndash;                        <div class="logo-text">ReadNovel</div>&ndash;&gt;-->
<!--        </a>-->

<!--        <div class="navigation">-->
<!--          <nav role="navigation" class="nav-menu w-nav-menu">-->
<!--            <a href="#Intro" class="nav-link w-nav-link">Intro</a>-->
<!--            <a href="#Features" class="nav-link w-nav-link">Features</a>-->
<!--            <a href="#Testimonials" class="nav-link w-nav-link">Testimonials</a>-->
<!--          </nav>-->
<!--          <div class="nav-right">-->
<!--            <div class="w-layout-grid nav-buttons">-->
<!--              <a th:href="@{~/homepage/register}" target="_blank" class="button small ghost-bg w-button">Sign up</a>-->
<!--&lt;!&ndash;              on click open the login &ndash;&gt;-->
<!--              <a onclick="document.getElementById('id01').style.display='block'" style="width:60%;" href="#"  class="button small white w-button">Login</a>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="menu-button w-clearfix w-nav-button">-->
<!--            <div class="menu-icon">-->
<!--              <div class="menu-icon-line-top"></div>-->
<!--              <div class="menu-icon-line-middle"></div>-->
<!--              <div class="menu-icon-line-bottom"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div id="Intro" class="section hero-section wf-section">-->
<!--        <div class="wrapper">-->
<!--          <div class="hero">-->
<!--            <div id="w-node-_213dd246-5dea-d4e9-39ab-455658f651a3-aa74a502" class="hero-content">-->
<!--              <div class="title dark-bg">-->
<!--                <div>Introducing&nbsp; </div>-->
<!--                <div>ReadNovel</div>-->
<!--              </div>-->
<!--              <h1 class="hero-heading">Let’s go on a novel adventure</h1>-->
<!--              <div class="hero-text">An easily navigable interface helps you decide which book to read next.</div>-->
<!--              <div class="hero-sign-up w-form">-->
<!--                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="hero-subscribe">-->
<!--                  <input type="submit" value="SIGN UP" data-wait="Please wait..."-->
<!--                    class="button white hero-button w-button">-->
<!--                </form>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="hero-bg-gradient">-->
<!--            <img-->
<!--              src="https://assets-global.website-files.com/62ab0d6ce96d28cc9c7dfea8/62ab0d6ce96d285b127e0063_wave-bottom.svg"-->
<!--              alt="" class="wave-bottom">-->
<!--            <div class="bg-elements">-->
<!--              <div class="dots"-->
<!--                style="will-change: transform; transform: translate3d(0px, 11.5315%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->



<!--      </div>-->
<!--    </div>-->
<!--    </div>-->


<!--    <div id="id01" class="modal">-->

<!--      <form class="modal-content animate" action="/action_page.php" method="post">-->
<!--        <div class="imgcontainer">-->
<!--          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
<!--          <img src="img_avatar2.png" alt="Avatar" class="avatar">-->
<!--        </div>-->

<!--        <div class="container">-->
<!--          <label for="uname"><b>Username</b></label>-->
<!--          <input type="text" placeholder="Enter Username" name="uname" required>-->

<!--          <label for="psw"><b>Password</b></label>-->
<!--          <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--          <button type="submit">Login</button>-->
<!--          <label>-->
<!--            <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--          </label>-->
<!--        </div>-->

<!--        <div class="container" style="background-color:#f1f1f1">-->
<!--          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>-->
<!--          <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <script>-->
<!--      // Get the modal-->
<!--      var modal = document.getElementById('id01');-->

<!--      // When the user clicks anywhere outside the modal, close it-->
<!--      window.onclick = function(event) {-->
<!--        if (event.target == modal) {-->
<!--          modal.style.display = "none";-->
<!--        }-->
<!--      }-->
<!--    </script>-->

<!--  </body>-->

<!--</html>-->